
{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}
{% block head %} {% endblock %}
{% block stylesheets %}

    <style>
        @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: Raleway, sans-serif;
        }

        body {
            background-image: url("../img/musicgif.gif");
            background-color: black;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;

        }



        .login {
            width: 320px;
            padding: 30px;
            padding-top: 156px;
        }

        .login__field {
            padding: 20px 0px;
            position: relative;
        }

        .login__icon {
            position: absolute;
            top: 30px;
            color: #111111;
        }

        .login__input {
            border: none;
            border-bottom: 2px solid white;
            background: none;
            padding: 10px;
            padding-left: 24px;
            font-weight: 700;
            width: 75%;
            transition: .2s;
            color: white;
        }

        .login__input:active,
        .login__input:focus,
        .login__input:hover {
            outline: none;
            border-bottom-color: #111111;
        }


        .alert-info {
            position: absolute;
            top: 8rem;
            left: 15rem;
            top: 2rem;
            color: #ff564c;
            overflow-y: auto !important;
            overflow-x: hidden !important;
            text-align:justify;
            background-color: black !important;
            border: none;

        }
        .logo_img {
            width: 80px; /* Largeur souhaitée de l'image */
            height: 80px; /* Hauteur souhaitée de l'image */
            border-radius: 50%; /* Pour arrondir les coins de l'image */
            object-fit: cover; /* Pour s'assurer que l'image est correctement ajustée*/
            margin-top : 10px;
            position:absolute;
            top: 1rem;
            left: 2rem;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <a href="{{ path('app_home') }}" class="brand">
            <img src="{{ asset('logo/Beats.jpeg') }}" alt="une image" class="logo_img" style="width: 6rem;height: 6rem;border-radius: 3rem">
        </a>
        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
        <form class="login" method="post">
            <div class="login__field">
                <i class="login__icon fas fa-user"></i>
                <input type="email"  name="email" id="inputEmail" class="login__input" autocomplete="email" placeholder="Email" required autofocus>
            </div>



            <button class="btn btn-lg btn-danger" type="submit">
                Reset password
            </button>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script>

    </script>
{% endblock %}