{# templates/bundles/EasyAdminBundle/layout.html.twig #}

{# DON'T DO THIS: it will cause an infinite loop #}
{% extends '@!EasyAdmin/layout.html.twig' %}


 {% block head_javascript %}
     <script
             src="https://code.jquery.com/jquery-3.6.4.js"
             integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
             crossorigin="anonymous"
     ></script>
     {{ parent() }}

     <script>
         $(function(){
             //recupération fichier d'origine
             var nameOldFile = $('.custom-file-label').text()
             var olnameInputFile = "<input type='text' value="+nameOldFile+" name='oldNameFile'>"
             $('#edit-Albums-form').append(olnameInputFile);
             console.log(nameOldFile);
             var valid = false
            $('.action-saveAndReturn').on('click',function(e){
            if(!valid) {
                check(e)
                }
            })
             $('.action-saveAndAddAnother').on('click',function(e){
                 if(!valid) {
                     check(e)
                 }
             })
             function check(e) {
                 if ($('.custom-file-label').text() == "" || $('.custom-file-label').text() == "Image") {
                     $('.custom-file-label').append("<span style='color:red;font-size: small'>Ce champ est obligatoire</span>")
                     console.log('ok')
                     e.preventDefault()
                 }
                 if ($('.custom-file-label').find('span').length > 0) {
                     //
                     console.log('exist')
                     e.preventDefault()
                 }
             }
         })

     </script>
 {% endblock head_javascript %}

{% block head_stylesheets %}
    {{  parent() }}
    <style>
        .sidebar-wrapper {
            background-color: #eee;
            position: relative;
            outline: none !important;
        }
        .sidebar {
            background-color: white;
            width: 280px;
            outline: none !important;

        }
        .main-content {
            outline: none !important;


        }
        #header-logo {
            margin-bottom: 3rem;
        }
        ul.menu {
            position: absolute !important;
            right: -4px;
            z-index: 9999;
            background-color:#eee ;
            top:120px;
            width: 90%;
        }
        ul.menu li.active {
            width: 100% !important;
            height: 100% !important;
            background-color: white !important;
            display: flex;
            align-items: center !important;
            border-radius: 80px !important;
            font-size: 16px !important;
            margin: 3px;


        }

        ul.menu li {
            width: 100% !important;
            height: 100% !important;
            background-color: white !important;
            padding: 5px;
            font-size: 16px;

        }

      .logo-custom {
          font-size: 24px;
          font-weight: 700;
          height: 56px;
          display: flex;
          align-items: center;
          color: var(--blue);
          position: sticky;
          top: 0;
          left: 0;
          background: var(--light);
          z-index: 500;
          padding-bottom: 20px;
          box-sizing: content-box;
      }
      .content-wrapper,.content-header {
          background-color: #eee;
      }
      .content-body {
          background-color: white;
          border-radius: 24px;
          padding: 4rem;
      }
      #sidebar-resizer-handler {
          display: none;
      }
      .img-fluid {
          border-radius: 50% !important;
      }
    </style>
{% endblock %}